.page-name {
    margin-left: 130px;
}

.human-name {
    display: none;
}

.human-img {
    margin: 0;
}

.item-text {
    display: none;
}

.sidebar {
    width: auto;
}

.menu {
    margin: 0;
    text-align: center;
}

.menu-link {
    padding: 15px 15px;
}

.content {
    margin: 90px 0 0 120px;
}

.container {
    margin: 0 20px;
}

.adder {
    position: fixed;
    margin-bottom: 50px;
}

.columns {
    margin-top: 50px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;

}

.column {
    display: flex; /* value bottom work for notes-column :(*/
    /*display: table;*/
    flex-flow: column;
    align-items: center;
    padding: 5px;
    width: 240px;
    margin: 0 40px 25px 0;
    height: fit-content;
    border-radius: 5px;
}

.column-header,
.column-body,
.column-header1 {
    font-size: 14px;
    font-weight: 100;
    width: 100%;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.column-header {
    color: #444444;
    font-weight: bold;
    box-shadow: 0px 5px 5px -9px #535353;
}

.column-header:focus {
    border-bottom: 1px solid #535353;
}

.action {
    cursor: pointer;
    padding: 10px 0;
    display: block;
    width: 100%;
    background-color: #444444;
    color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.add-column {
    padding: 10px;
}

.action:hover {
    background-color: rgba(76, 175, 80, 0.8);
    color: #f5f5f5;
}

.action:focus {
    color: #f5f5f5;
    background-color: #4caf50;
}

.action:active {
    color: #f5f5f5;
    background-color: #4caf50;
}

.note {
    border-radius: 5px;
    border-left: 4px solid #4caf50;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 11px;
    background-color: #f5f5f5;
    color: #404040;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}


.note:focus {
    border-radius: 5px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}


.column.dragged {
    opacity: 0.4;
}

.note.dragged {
    opacity: 0.01;
}

.column.under {
    margin-top: 20px;
}

.note.under {
    opacity: 0.5;
}