* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Tahoma', 'Geneva', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
}


html, body, .blur {
    height: 100%;
    width: 100%;
}

.blur {
    backdrop-filter: blur(3px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/landing-img/register-login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

form {
    position: absolute;
    z-index: 3;
}

.form__block {
    display: flex;
    flex-flow: column;
    padding: 20px;
    align-content: center;
    background-color: hsla(0, 0%, 100%, .3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: hsla(0, 0%, 96%, .8);
    border-radius: 3px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: unset;
}

.last__row {
    margin-top: 10px;
    justify-content: space-around;
}

.last__row p {
    font-size: 18px;
}

label, input, select {
    padding: 5px;
    border: 0;
}

label {
    font-size: 16px;
}

input, select {
    background-color: transparent;
    width: 60%;
    border-bottom: 3px solid #535353;
    transition: 1s;
}

label {
    width: 30%;
}

input:focus,
select:focus {
    transition: 1s;
    border-bottom: 3px solid #1db31d;
    color: hsla(0, 0%, 96%, .8);
}

input:hover,
select:hover {
    transition: 1s;
    border-bottom: 3px solid #4caf50;
    color: hsla(0, 0%, 96%, .8);
}

input::placeholder {
    color: hsla(0, 0%, 96%, .8);
}

.btn_reg,
.btn_log {
    cursor: pointer;
    padding: 10px;
    border: 0;
    width: 40%;
    border-radius: 3px;
    background-color: #4caf50;
    color: hsla(0, 0%, 96%, .8);
    text-align: center;
    font-size: 14px;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

.btn_reg:hover,
.btn_log:hover {
    background-color: #1db31d;
    color: #ffffff;
    transform: scale(1.05);
    transition: 1s;
}


@media screen and (max-width: 900px) and (min-width: 501px) {

    .blur {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    form {
        position: relative;
        margin: 0;
    }

}

@media screen and (max-width: 500px) {

    form {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .form__block {
        width: 100%;
        height: 100%;
    }

}