* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    text-decoration: none;
}

body {
    background-color: #eeeeee;
}

.main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /*Fixed Sidebar (stay in place on scroll) */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: #444444;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
}

.human-block {
    padding: 30px 30px 10px 30px;
}

.human-block a {
    text-decoration: none;
}

#Capa_1 {
    fill: #4caf50;
}

.human-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.253);
}

.human-img {
    margin-right: 15px;
}

.user-img {
    width: 30px;
    height: 30px;
}

.human-name {
    color: #4caf50;
    font-size: 16px;
}

.nav-block {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.menu {
    margin: 0 5px;
    list-style-type: none;
}

.active {
    color: #f5f5f5;
    background-color: #4caf50;
}

.menu-item {
    font-size: 16px;
}

.menu-link {
    display: block;
    margin: 10px 15px;
    padding: 15px 100px 15px 20px;
    text-decoration: none;
    color: #c0c0c0;
    border-radius: 5px;
}

.item-text {
    margin-left: 10px;
}

.menu-link:hover {
    background-color: #ffffff34;
    color: #f5f5f5;
}

.menu-link:focus {
    color: #f5f5f5;
    background-color: #4caf50;
}

.log-out {
    cursor: pointer;
    padding: 10px;
    background-color: #444444;
    color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.log-out:hover {
    background-color: rgba(76, 175, 80, 0.8);
    color: #f5f5f5;
}

.log-out:focus {
    color: #f5f5f5;
    background-color: #4caf50;
}

.log-out:active {
    color: #f5f5f5;
    background-color: #4caf50;
}

.notifications-panel {
    z-index: 2;
    background-color: #eeeeee;
    top: 0;
    position: fixed;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.page-name {
    font-size: 20px;
    padding: 10px;
    margin-left: 330px;
    color: #444444;
}

.notification-link {
    display: block;
    padding: 10px;
    color: #90a4ae;
    height: 12pt;
}

.notification-link:hover {
    fill: #6c6bbc;
}

.notification-link:focus:active {
    fill: #6411d9;
}

.content {
    margin: 65px 50px 0 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
}

.weeks-chart-block {
    background-color: #f5f5f5;
    margin: 35px 0 0 35px;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 9px 9px 18px -8px #444444;
}

.project-time-chart-block {
    background-color: #f5f5f5;
    margin: 35px 0 0 35px;
    padding: 20px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 9px 9px 18px -8px #444444;
}

/*---------------home page ----*/

.row {
    margin-bottom: 15px;
}

.user-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.user-card-1 {
    text-align: center;
}

.user-card-1,
.user-card-2 {
    width: 40%;
    padding: 60px;
}

.user-card-info {
    padding: 10px;
    align-content: space-between;
    display: flex;
    flex-flow: column;
}

.user-card-info label {
    margin-bottom: 20px;
}

.user-card-info input, select {
    background-color: unset;
    color: #444444;
    border-bottom: 1px solid #444444;
}

.user-card-info input:hover {
    border-bottom-color: #4caf50;
}

.user-card-info input:active,
.user-card-info input:focus {
    border-bottom-color: #1db31d;
}

.user-card-img img {
    width: 60%;
}

.deactivate-info {
    text-align: center;
}

#deactivate {
    cursor: pointer;
    padding: 10px;
    background-color: #444444;
    color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    user-select: none;
    width: 55%;
}

#deactivate:hover {
    background-color: rgba(76, 175, 80, 0.8);
    color: #f5f5f5;
}

#deactivate:focus {
    color: #f5f5f5;
    background-color: #4caf50;
}

#deactivate:active {
    color: #f5f5f5;
    background-color: #4caf50;
}