/*----------------------------------------------------------*/

.content {
    margin: 90px 50px 0 340px;
}

.central {
    margin: 90px 300px 0 120px;
}

#project-add, #user-add {
    position: absolute;
    margin: 15px 0 0 95px;
    background-color: #f5f5f5;
    width: 220px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.user-add-row,
.project-row {
    display: flex;
    flex-flow: column;
    padding: 5px;
}

.user-add:last-child ,
.project-row:last-child {
    flex-flow: row wrap;
    justify-content: space-around;
}

.user-add-row label,
.project-row label {
    margin-bottom: 10px;
    color: #1db31d;
}

#project_name {
    background-color: unset;
    color: #444444;
    border-bottom: 2px solid #444444;
    font-size: 16px;
}

#project_name:hover {
    border-bottom-color: #4caf50;
}

#project_name:active,
#project_name:focus {
    border-bottom-color: #1db31d;
}

#send_new, #close {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    border: 2px solid #444444;
    color: #444444;
    border-radius: 5px;
    width: 40%;
}

#send_new:hover, #close:hover {
    border: 2px solid #4caf50;
    color: #4caf50;
}

#send_new:focus, #close:focus {
    border: 2px solid #1db31d;
    color: #1db31d;
}

#send_new:active, #close:active {
    border: 2px solid #1db31d;
    color: #1db31d;
}

.projects {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.project {
    width: calc(25% - 20px);
    display: flex;
    flex-flow: column;
    margin: 10px;
    border-radius: 5px;
    border: 0px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: .7;
}

.project:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .7s;
    opacity: 1;
}

.title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #444444;
}

#project-remove {
    width: 10%;
    font-size: 32px;
    color: #f5f5f5;
    z-index: 100;
}

#project-remove:hover {
    color: #1db31d;
    transition: color 1.2s;
}

#project-remove:not(hover) {
    transition: color 1.2s;
}

.project-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 55%;
    padding: 15px 60px;
    text-align: center;
    font-size: 16px;
    color: #f5f5f5;
}

.project:hover
.project-img {
    color: #1db31d;
    transition: color 1.2s;

}

.project:hover
.project-title {
    background-color: #444444;
    transition: background-color 1.2s;
    color: #f5f5f5;
}

.project:not(hover) {
    transition: .7s;
}

.project:not(hover)
.project-img {
    transition: color 1.2s;
}

.project:not(hover)
.project-title {
    transition: background-color 1.2s;
}

.project-img {
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    background-color: #f5f5f5;
    color: #4caf50;
    padding: 40px 0;
    width: 100%;
    bottom: 0;
}

.project-tools {
    display: flex;
    flex-flow: row wrap;
}

.project-action {
    background-color: #f5f5f5;
    color: #444444;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    font-size: 35px;
    padding: 20px 20px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
}

.project-action:hover {
    transition: .6s;
    color: #1db31d;
    transform: scale(1.05);
}

.project-action:not(hover) {
    transition: .6s;
}

#action {
    margin: 10px;
}

.action {
    padding: 10px 20px;
    margin: 0 10px 0 0;
}

.team {
    display: flex;
    flex-flow: column;
    background-color: #f5f5f5;
    color: #444444;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-title {
    padding: 30px;
    font-size: 24px;
}

.user-data-set {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
    align-content: center;
    align-items: center;
    justify-content: space-around;

}

.user-data-elem {
    height: 100%;
    text-align: center;
    width: 14%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-data-elem img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#filebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /*Fixed Sidebar (stay in place on scroll) */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: #444444;
    color: #c0c0c0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    width: 280px;
}

.project-file {
    color: #4caf50;
    font-size: 60px;
    margin: 5px;
    width: calc(25% - 10px);
    text-align: center;
}

.project-file:hover,
.project-file:active {
    color: #1db31d;
    -webkit-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2);

}

#add-prj-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}