/*----------------------------------------------------------*/

.projects {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.project {
    width: calc(25% - 20px);
    height: 180px;
    display: flex;
    flex-flow: column;
    margin: 10px;
    border-radius: 5px;
    border: 0px solid #000;
}

.project-title {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    background-color: rgba(68,68,68,0.6);
    color:  #f5f5f5;
}

/**/

/*.project:hover,*/
.project-title:hover {
    background-color: rgba(76,175,80,0.7);
    color:  #444444;
}

.project-img {
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    background-color: rgba(68,68,68,0.6);
    color:  #f5f5f5;
    height: auto;
    width: 100%;
    bottom: 0;
}