<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>PMOL</title>
    <link href="../../resources/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../resources/css/main-page.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            $('form[name=update_img]').change(function (e) {
                e.preventDefault(); // делаем отмену действия браузера и формируем ajax
                var formData = new FormData($('#update_img')[0]);
                $.ajax({
                    type: 'POST', // тип запроса
                    url: $(this).attr('action'), // куда будем отправлять, можно явно указать
                    data: formData, // данные, которые передаем
                    cache: false, // кэш и прочие настройки писать именно так (для файлов)
                    contentType: false, // нужно указать тип контента false для картинки(файла)
                    processData: false, // для передачи картинки(файла) нужно false
                    success: function (data) { // в случае успешного завершения
                        $(".message").text(data);
                        console.log("SUCCESS : ", data);
                    },
                    error: function (data) { // в случае провала
                        $(".message").text(e.responseText);
                        console.log("ERROR : ", e);
                    }
                });
            });
            $('form[name=update_info]').change(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    global: false,
                    url: '/update/user',
                    data: $('form[name=update_info]').serializeArray(),
                    success: function (res) {
                        console.log(data);
                        if (res) {
                            $('.message').text(res);
                        }
                    }
                });
            });
            $('form[name=deactivated-form]').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    global: false,
                    url: '/update/deactivate',
                    data: JSON.stringify([[${user}]]),
                    success: function (res) {
                        if (res) {
                            $('.message').text(res);
                            location.href = "/login?logout=Account%deactivated!";
                        }
                    }
                });
            });
        })
        ;
    </script>


</head>
<body>
<div id="home-page">
    <div th:replace="components/header :: header"></div>
    <main class="main">
        <div th:replace="components/sidebar :: sidebar"></div>
        <section class="content">
            <div class="row">
                <a href="/login?logout=true" class="log-out">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="item-text">Go out</span>
                </a>
            </div>
            <div class="row">
                <div class="user-card">
                    <div class="user-card-1">
                        <form action="#" enctype="multipart/form-data" id="update_img" method="POST"
                              th:action="@{/update/user/img}"
                              name="update_img" th:object="${user}">
                            <div class="message" style="font-size: 20px;color: #1db31d;"></div>
                            <div class="user-card-img">
                                <img th:src="(${user.user_img} eq null) ? @{resources/manluck_data/user_img/default.png} : ${user.user_img}">
                                <div class="user-card-img-upload">
                                    <label for="img_upload">Upload image</label>
                                    <input id="img_upload" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="user-card-2">
                        <form action="#" enctype="multipart/form-data" id="update_info" method="POST"
                              name="update_info" th:object="${user}">
                            <div class="user-card-info">
                                <label for="mail_upload">E-mail</label>
                                <input id="mail_upload" type="email" name="usermail" th:field="${user.usermail}">
                            </div>
                            <div class="user-card-info">
                                <label for="name_upload">Full name</label>
                                <input id="name_upload" type="text" name="username" th:field="${user.username}">
                            </div>
                            <div class="user-card-info">
                                <label for="password_upload">Password</label>
                                <input id="password_upload" type="text" autocomplete="on" name="password"
                                       th:field="${user.password}">
                            </div>
                            <div class="user-card-info">
                                <label for="phone_upload">Phone</label>
                                <input id="phone_upload" type="tel" name="userphone" th:field="${user.userphone}">
                            </div>
                            <div class="user-card-info">
                                <label for="county_upload">Country</label>
                                <select id="county_upload" name="country" autocomplete="on">
                                    <option selected th:text="${user.country}" th:value="${user.country}"></option>
                                    <option>Angola</option>
                                    <option>France</option>
                                    <option>USA</option>
                                    <option>Russia</option>
                                </select>
                            </div>
                            <div class="user-card-info">
                                <label for="city_upload">City</label>
                                <input id="city_upload" type="text" name="city" th:field="${user.city}">
                            </div>
                            <div class="user-card-info">
                                <label for="position_upload">Position</label>
                                <input id="position_upload" type="text" name="position" th:field="${user.position}">
                            </div>
                            <div class="user-card-info">
                                <label for="company_upload">Company name</label>
                                <input id="company_upload" type="text" name="company" th:field="${user.company}">
                            </div>
                        </form>
                        <form action="#" name="deactivated-form" method="post" th:object="${user}">
                            <div class="user-card-info deactivate-info">
                                <label>Deactivate account?</label>
                                <input id="deactivate" type="button" name="deactivate" class="deactivate"
                                       value="Deactivate">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<script crossorigin="anonymous" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis="
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="../../resources/js/charts-script.js"></script>
<script src="../../resources/js/script.js"></script>

</body>
</html>