<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../resources/css/logreg.css"/>
</head>
<body>
<form method="POST" action="#" th:action="@{/login}" th:object="${user}">
    <div class="form__block">
        <div class="last__row row">
            <p>Login</p>
        </div>
        <span class="err" th:text="${error}"></span>
        <span class="msg" th:text="${logout}"></span>
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
        <!--        <div class="row">-->
        <!--            <label for="usermail">E-mail</label><input id="usermail" name="usermail" type="email" required-->
        <!--                                                       autocomplete="false"-->
        <!--                                                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"-->
        <!--                                                       placeholder="mail@mail.mail" th:field="${user.usermail}">-->
        <!--        </div>-->
        <div class="row">
            <label for="username">User name</label><input id="username" name="username" type="text" required
                                                          autocomplete="false"
                                                          pattern="^[a-zA-Z]+)*$"
                                                          placeholder="Tom Hagen" th:field="${user.username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="${user.username}"></span>
        </div>
        <div class="row">
            <label for="password">Password</label><input id="password" name="password" type="password" required
                                                         autocomplete="false"
                                                         pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                                         placeholder="Password.." th:field="${user.password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="${user.password}"></span>
        </div>
        <div class="last__row row">
            <button class="btn_log" type="submit">Sign in</button>
            <a class="btn_reg" href="/register">Sign up</a>
        </div>
    </div>
</form>
</body>
</html>
