<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>PmOL-dashboard</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/main-page.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/projects.css">
</head>

<body>
<div th:replace="components/header :: header"></div>
<main class="main">
    <div th:replace="components/sidebar :: sidebar"></div>
    <section class="content">
        <div class="projects">
            <div class="project">
                <div class="project-title">Project Title</div>
                <div class="project-img">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="project">
                <div class="project-title">Project Title</div>
                <div class="project-img">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="project">
                <div class="project-title">Project Title</div>
                <div class="project-img">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="project">
                <div class="project-title">Project Title</div>
                <div class="project-img">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="project">
                <div class="project-title">Project Title</div>
                <div class="project-img">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>