<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ManLuck-projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../resources/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/main-page.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/projects.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src=".../../resources/js/project.js"></script>
</head>

<body>
<!--<div th:replace="components/header :: header"></div>-->
<main class="main">
    <div th:replace="components/sidebar :: sidebar"></div>
    <section class="content">
        <div class="row">
            <span id="action"><i class="fa fa-plus-square" aria-hidden="true"></i> project</span>
            <div id="project-add" hidden>
                <form action="#" th:action="@{/project/add/new}" id="project-form" enctype="multipart/form-data"
                      method="POST" name="create_project">
                    <div class="project-row">
                        <label for="project_name">Project name</label>
                        <input id="project_name" type="text" name="project_name" pattern="(\D{2,})">
                    </div>
                    <div class="project-row">
                        <input id="close" type="button" value="Close">
                        <input id="send_new" type="submit" value="Create">
                    </div>
                </form>
            </div>
        </div>
        <div class="projects" th:if="${user.projects} != null">
            <div class="load" th:each="project : ${user.projects}" hidden>
                <script th:inline="javascript">
                    loadProjects([[${project.project_id}]], [[${project.project_name}]], [[${user.id}]]);
                </script>
            </div>
        </div>
    </section>
</main>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function (e) {
        document.getElementById('action').addEventListener('click', function () {
            document.getElementById('project-add').hidden = false;
            document.getElementById('project_name').focus();
            document.getElementById('project_name').setAttribute('required', 'true');
        });
        document.getElementById('close').addEventListener('click', function () {
            document.getElementById('project-add').hidden = true;
            document.getElementById('project_name').removeAttribute('required');
        });
        $('form[name=create_project]').submit(function (e) {
            const proj_name = document.getElementById('project_name').value;
            $.ajax({
                type: "POST",
                global: false,
                url: '/projects/add',
                data: $('form[name=create_project]').serializeArray(),
                dataType: 'text',
                timeout: 600000,
                success: function (data, status) { // в случае успешного завершения
                    let proj = data;
                    let projectElement = new Project(proj, proj_name, [[${user.id}]]);
                    alert('Project ' + proj_name + ' added!');
                },
                error: function (data, status) { // в случае провала
                    alert('Try later!');
                }
            });
            document.getElementById('project-add').hidden = true;
            e.preventDefault();
        });
    });
</script>
</body>

</html>