<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ManLuck-projects</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/main-page.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/projects.css">
</head>

<body>
<div th:replace="components/header :: header"></div>
<main class="main">
    <div th:replace="components/sidebar :: sidebar"></div>
    <section class="content">
        <div class="row">
            <span id="action"><i class="fa fa-plus-square" aria-hidden="true"></i> project</span>
            <div id="project-add" hidden>
                <form action="#" th:action="@{/project/add/new}" id="project-form" enctype="multipart/form-data"
                      method="POST" name="create_project">
                    <div class="project-row">
                        <label for="project_name">Project name</label>
                        <input id="project_name" type="text" name="project_name">
                    </div>
                    <div class="project-row">
                        <input id="close" type="button" value="Close">
                        <input id="send_new" type="submit" value="Create">
                    </div>
                </form>
            </div>
        </div>
        <div class="projects" th:if="${user.projects} != null">
            <div th:each="project : ${user.projects}" class="project">
                <a th:href="@{'/projects/' + ${user.id} + '/' + ${project.project_id}}">
                    <div class="project-title" th:text="${project.project_name}">Project Title</div>
                    <div class="project-img">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

<script>
    document.getElementById('action').addEventListener('click', function () {
        document.getElementById('project-add').hidden = false;
    });
    document.getElementById('project-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const proj_name = document.getElementById('project_name').value;

        $.ajax({
            type: "POST",
            global: false,
            // contentType: "application/json",
            url: '/projects/add',
            data: $('form[name=create_project]').serializeArray(),
            dataType: 'text',
            timeout: 600000,
            // contentType: "application/json; charset=utf-8",
            // processData: false, // для передачи картинки(файла) нужно false
            success: function (data, status) { // в случае успешного завершения
                console.log(status, "SUCCESS : ", data);
                // $(".projects").load(location.href + " .projects");
                const projectElement = document.createElement('div');
                projectElement.classList.add('project');
                const project_link = document.createElement('a');
                const project_title = document.createElement('div');
                project_title.classList.add('project-title');
                project_title.innerText = proj_name;
                const project_img = document.createElement('div');
                project_img.classList.add('project-img');
                project_img.innerHTML = '<i class="fa fa-briefcase" aria-hidden="true"></i>';

                project_link.append(project_title, project_img);
                projectElement.append(project_link);
                document.querySelector('.projects').append(projectElement);
            },
            error: function (data, status) { // в случае провала
                console.log(status, "ERROR : ", data);
            }
        });
        document.getElementById('project-add').hidden = true;
    });


    document.getElementById('close').addEventListener('click', function () {
        document.getElementById('project-add').hidden = true;
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>